*{
    box-sizing: border-box;

}

body {
        font-family: Arial;
        line-height: 24px;


}
div.wrapper, footer {

    background-color: rgb(255, 235,235);
    width: 1050px;
    margin: auto;
    padding: 20px;
}

nav {

    margin-top: 20px;
    margin-bottom: 20px;
}

nav a{
    margin-right: 20px;

}

section.appel, section.visuals {
    width: 50%;
    float: left;


}


section.visuals {
    text-align: right;


}
img.visual{
    width: 472px;
    margin-bottom: 10px;
}

img.appel {
    width: 513px;
}

article {
    display:inline-block;
    width:33%;
    padding-right: 10px;
    vertical-align: top;
}

article:last-child {
    padding-right: 0px;
}

img.plaatje {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: rgb(166,166,166) ;
}

footer a {
    color:white;
}