*{
    box-sizing: border-box;

}

body {
        font-family: Arial;


}
div.wrapper {

    background-color: rgb(255, 235,235);
    width: 1000px;
    margin: auto;
    padding: 20px;
}

nav {

    margin-top; 20px;
    margin-bottom: 20px;
}

nav a{
    margin-right: 20px;

}

section.appel, section.visuals {
    width: 50%;
    float: left;


}

section.artikelen{


}




