#Haar {
    height: 300px;
    width: 300px;
    border: 3px crimson solid;
    margin-left: 720px;
}

#Gezicht {
    height: 300px;
    width: 300px;
    border: 3px crimson solid;
    margin-left: 720px;
}

#Mond {
    height: 300px;
    width: 300px;
    border: 3px crimson solid;
    margin-left: 720px;
}

