div#wrapper{
    font-family: "noto sans TC", sans-serif;
    font-weight: 400;
    background-color: antiquewhite;
    width: 100%
}


.logo{
    width: 100%;
}

header {
    background-color:white;
}


h2{
    font-family: "noto sans TC", sans-serif;
    font-weight: 700;
    color:rgb(220, 106, 94);;
}

nav ul li{
    background-color: rgb(61, 135, 255);
    margin-top: 1px;
}

nav ul {
    list-style: none;
    padding-left: 0px;
}

nav ul li a {
    text-decoration: none;
    font-family: "Black Han Sans", sans-serif;
    color: white;
}

nav ul li a:hover{
    color: black;
}

footer{
    background-color: rgb(7, 34, 61);
}

footer ul li a{
    text-decoration: none;
    color: white;
    font-family: quastrial,sans-serif;
}

footer ul li a:hover{
    color: gold;
}

footer ul{
    list-style: none;
}

@media all and (min-width: 550px ){
  .logo{
      width: 355px;
  }


    nav ul
}